SCOUT_HOSTNAME=scout.example.com
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=
WORKERS=1

# Usernames and emails must be unique across the Keycloak realm.
# Unauthorized user created with no scout-user group membership.
UNAUTHORIZED_USER_USERNAME=scout-unauthorized-test-user
UNAUTHORIZED_USER_EMAIL=scout-unauthorized-test@example.com
UNAUTHORIZED_USER_FIRST_NAME=Unauthorized
UNAUTHORIZED_USER_LAST_NAME=TestUser

# Authorized user created in scout-user group.
AUTHORIZED_USER_USERNAME=scout-authorized-test-user
AUTHORIZED_USER_EMAIL=scout-authorized-test@example.com
AUTHORIZED_USER_FIRST_NAME=Authorized
AUTHORIZED_USER_LAST_NAME=TestUser

# Same password for all ephemeral test users
TEST_USER_PASSWORD=