alertmanager:
  enabled: false
kube-state-metrics:
  enabled: true
prometheus-node-exporter:
  enabled: true
  hostNetwork: false
prometheus-pushgateway:
  enabled: false

server:
  extraFlags:
    - web.enable-otlp-receiver
    - web.enable-lifecycle
  service:
    servicePort: 9090
  persistentVolume:
    enabled: true
{% if prometheus_storage_class is defined and prometheus_storage_class %}
    storageClass: '{{ prometheus_storage_class }}'
{% endif %}
  retention: 15d
  resources: {{ prometheus_resources_default | combine(prometheus_resources | default({}), recursive=true) | to_json }}
  extraSecretMounts:
    - name: jupyterhub-metrics-api-token
      secretName: jupyterhub-metrics-api-token
      mountPath: /etc/secrets/jupyterhub
      readOnly: true

extraScrapeConfigs: |
  - job_name: 'grafana'
    metrics_path: /metrics
    static_configs:
      - targets: ['grafana.{{ grafana_namespace }}']

  - job_name: 'loki'
    metrics_path: /metrics
    static_configs:
      - targets: ['loki.{{ loki_namespace }}:3100']

  - job_name: minio-cluster
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: minio-bucket
    metrics_path: /minio/v2/metrics/bucket
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: minio-node
    metrics_path: /minio/v2/metrics/node
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: minio-resource
    metrics_path: /minio/v2/metrics/resource
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: jupyterhub
    metrics_path: /hub/metrics
    bearer_token_file: /etc/secrets/jupyterhub/metrics-api-token
    scheme: http
    static_configs:
      - targets: ['proxy-public.{{ jupyter_namespace }}']

  - job_name: hl7log-extractor
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['hl7log-extractor.{{ extractor_namespace }}:8080']

  - job_name: postgres
    metrics_path: /metrics
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: {{ postgres_cluster_name }}-metrics
      - source_labels: [__meta_kubernetes_endpoint_port_name]
        action: keep
        regex: metrics
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod

  - job_name: keycloak
    metrics_path: /metrics
    static_configs:
      - targets: ['keycloak-service.{{ keycloak_namespace }}:9000']

  - job_name: oauth2-proxy
    metrics_path: /metrics
    static_configs:
      - targets: ['oauth2-proxy.kube-system:44180']

  - job_name: superset
    metrics_path: /metrics
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: superset
      - source_labels: [__meta_kubernetes_endpoint_port_name]
        action: keep
        regex: http
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace

  - job_name: superset-statsd
    metrics_path: /metrics
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: superset-statsd-metrics
      - source_labels: [__meta_kubernetes_endpoint_port_name]
        action: keep
        regex: metrics
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
