---
- name: Create namespace
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: namespace
  vars:
    ns: '{{ launchpad_namespace }}'

- name: Deploy Launchpad
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: launchpad
    helm_chart_ref: '{{ launchpad_helm_chart_ref }}'
    helm_chart_namespace: '{{ launchpad_namespace }}'
    helm_chart_values_files:
      - '{{ scout_repo_dir }}/helm/launchpad/values.yaml'
    helm_chart_values:
      enableChat: '{{ enable_chat }}'
      enablePlaybooks: '{{ enable_playbooks }}'
      image:
        repository: '{{ launchpad_image_repository }}'
        tag: '{{ launchpad_image_tag }}'
      auth:
        keycloak:
          enabled: true
          clientId: '{{ keycloak_launchpad_client_id }}'
          clientSecret: '{{ keycloak_launchpad_client_secret }}'
          issuer: '{{ keycloak_realm_url }}'
        nextAuthUrl: 'https://{{ server_hostname }}/api/auth'
        nextAuthSecret: '{{ launchpad_nextauth_secret }}'
        oauth2ProxySignOutUrl: '{{ oauth2_proxy_signout_url }}'
      ingress:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: >-
            kube-system-oauth2-proxy-error@kubernetescrd,
            kube-system-oauth2-proxy-auth@kubernetescrd,
            kube-system-security-headers@kubernetescrd
        hosts:
          - host: '{{ server_hostname }}'
            paths:
              - path: /
                pathType: Prefix
